@import './../../theme/base.scss';
.nv-button-container {

    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  
 
      .label {
        font-family: $nv-font;
        font-weight: $font-weight-medium;
        font-size: $Font-size-medium;
      }

  
    &.type-basic {

        .label {
          color: $Font-color-900;
        }

    }
  
    &.type-raised {
      border-color: $border-color-100;
      box-shadow: 0px 2px 2px;
  

        .label {
          color: $Font-color-900;
        }

    }
  
    &.type-stroked {
      border-color: $border-color-100;

        .label {
          color: $Font-color-900;
      }
    }
  
    &.theme-color-basic {
      background-color: transparent;
      border: 1px solid $Primary-1-900;
      width: 68px;
      height: 38px;
        .label {
          color: $Font-color-900;
      }
    }
  
    &.theme-color-primary {
      background: $Primary-1-900;
      border-color: $Primary-1-900;
      width: 103px;
      height: 38px;
        .label {
          color: $Font-color-800;
          font-size: $Font-size-small;
      }
    }
  
    &.theme-color-secondary {
      background: $Accent-1-900;
      border-color: $Accent-1-900;
      width: 103px;
      height: 38px;
        .label {
          color: $Font-color-800;
      }
    }
  
    &.theme-color-accent {
      background: $Stress-1-900;
      border-color: $Stress-1-900;
      width: 103px;
      height: 38px;
        .label {
          color: $Font-color-800;
         }
    }
  
  
  
  }