
$Primary-0-000: #FFFFFF;
$Primary-0-100: #EFEFF2;
$Primary-0-200: #ffffff;
$Primary-1-900: #264653;
$Primary-2-900: #7DC636;
/// secondary
$Accent-1-900:  #3f51b5;
$Accent-2-900 : #fcb31c;
$Accent-3-900:  #044363;
$Accent-4-900:  rgb(9, 30, 66);
//  Alerts
$Stress-1-900: #da1b1b;
$Stress-2-900: #050404;
$Stress-3-900: #FFC107;

$Font-color-900: #31303C;
$Font-color-800: #ffffff;
$Font-color-700:  #72708B;
$Font-color-400: #e2426a;
$Font-color-200: #584cdd;

$Font-size-small: 14px;
$Font-size-medium: 18px;
$Font-size-large: 24px;

$font-weight-small: 100;
$font-weight-medium: 500;
$font-weight-bold: 800;
$font-weight-large: 800;

$line-height-small: 17px;
$line-height-medium: 21px;
$line-height-large: 29px;

$nv-font:"SF Pro Display",
"Helvetica Neue",
"Segoe UI",
"Segoe UI Web (West European)",
"Segoe UI",
-apple-system,
BlinkMacSystemFont,
Roboto,
"Helvetica Neue",
sans-serif;

$header-font-xxSmall: 20px;
$header-font-xSmall: 24px;
$header-font-Small: 28px;
$header-font-medium: 32px;
$header-font-large: 36px;
$header-font-x-large: 40px;
$header-font-xx-large: 44px;

$body-font-xxSmall: 9px;
$body-font-xSmall: 10px;
$body-font-Small: 13px;
$body-font-medium: 16px;
$body-font-large: 18px;
$body-font-x-large: 24px;
$body-font-xx-large: 32px;

$text-color-100:  rgb(0, 0, 0);
$text-color-200: rgb(23, 43, 77);
$text-color-300: rgb(66, 82, 110);
$text-color-400: rgb(244, 245, 247);

$background-color-100: rgb(80, 95, 121);
$background-color-400: rgb(0, 82, 204);
$background-color-300: rgb(222, 235, 255);
$background-color-200: rgb(223, 225, 230);
$background-color-500: rgb(244, 245, 247);

$border-color-100: rgb(0, 0, 0);
$border-color-200: rgb(76, 154, 230);
$border-color-300: #F8F8F9;



.h1 {
    font-size: $header-font-x-large;
    font-family: $nv-font;
    font-weight: $font-weight-bold;
}

.h2 {
    font-size: $header-font-large;
    font-family: $nv-font;
}

.body {
    font-size: $body-font-medium;
    font-family: $nv-font;
    font-weight: $font-weight-medium;
}

.background-Color01 {
    background-color: $Font-color-200 ;
    
}